$important_text_color: #716a72;
$basic_text_color: #9d9d9d;
$emphasis_color: #f1c40f;
$bg_color: #fafafa;
$shadow_color: rgba(82, 84, 77, 0.16);

$header_captions_border_color: #eaeaea;
$info-block2_icon-circle_color: #ffffff;
$info-block2_caption_border_color:#e4e4e4;

$input_submit_color: #ffdb4c;
$input-block_text_color: #ffffff;

$devider_color: #f2f2f2;

$footer_bg_color: #333333;
$footer_borders_color: #3f3f3f;
$footer_captions_color: #ffffff;;

$button_font_color: #ffffff;
$button_shadow_color:  rgba(241, 196, 15, 0.56);
$banner_text_bg_color: rgba(0, 0, 0, 0.451);
$banner_text_color: #ffffff;

$info-block3_active_tab_color: #ffffff;
$info-block3_caption-color: #f2f2f2;
$info-block3_shadow_color:  rgba(241, 196, 15, 0.56);

$copyrights_main_color: #ffffff;
$copyrights_designed-by_color: #000000;



