/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@font-face{
    font-family: 'SourceSansPro';
    src: url('../src/fonts/SourceSansPro-Regular.ttf');
    font-weight: normal;    
}
@font-face{
    font-family: 'SourceSansPro';
    src: url('../src/fonts/SourceSansPro-Black.ttf');
    font-weight: bold;    
}
$font-stack: "SourceSansPro", sans-serif;
body {
    background-color: #fafafa;
    width: 1230px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: $font-stack;
}

h1 {
    font-size: 50px;
    font-family: $font-stack;
    color: rgb(113, 106, 114);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;  
    letter-spacing: 0.175em;
  }
header {
    nav {

    }
    ul {
        width: 680px;
    }
    li {
        display: inline-block;
    }
    li:first-child { color : #f1c40f;}
    a {
        text-decoration: none; 
        color: #716a72;
        text-transform: uppercase;
    }
}
  