@import "compass/reset";
@import "fonts";

body {
    @media screen and (max-width: 768px) {
        overflow-x: hidden;
    }
}
%button {
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-stack;
    font-weight: bold;
    color: #ffffff;
    background-color: #f1c40f;
    border: #f1c40f;
    cursor: pointer;
    filter: drop-shadow(0.5px 0.866px 2px rgba(82,84,77,0.16));
}
%button, 
%button:active, 
%button:focus {
    outline: none;
}
%button:active {
    color: rgba(82, 84, 77, 0.16);
}
%button:hover {
    box-shadow: 0px 1px 4px 0px rgba(241, 196, 15, 0.56);
}

body {
    background-color: #fafafa;
    max-width: 1230px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: $font-stack;
    letter-spacing: 0.175em;
}

.header {
    height: 225px;
    width: 100%;
    ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        text-align: center;
    }
    a {
        text-decoration: none; 
        color: #716a72;
        text-transform: uppercase;
        font-weight: lighter;
    } 
    a:hover {
        color: #f1c40f;
    }

    &__logo {
        padding: 53px 0 22px 0;
        width: 285px;
        margin: 0 auto;
        font-size: 50px;
        font-family: $font-stack;
        color: rgb(113, 106, 114);
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        font-weight: bold;  
        border-bottom: 1px solid #eaeaea;
        letter-spacing: 0.175em;
    }
    &__nav {
        width: 55.3%;
        margin: 38px auto ;
        @media screen and (max-width: 768px) {
            width: 90%;
        }
        @media screen and (max-width: 512px) {
            width: 100%;
            margin: 0; 
            ul {
                flex-direction: column;
                padding: 10px 0;
            }
            li {
                display: block;
                padding: 5px 0;
                a {                    
                    border-bottom: 1px solid #eaeaea;
                }
                a.header__nav-last-item {
                    border: none;
                }
            }
        }
    }
    @media screen and (max-width: 512px) {
        height: 276px;
    }

}

a.header__nav-first-item {
    color : #f1c40f;
}
a.header__nav-first-item:hover {
    color : #716a72;
}


.banner {    
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    height: 547px;
    background: url('../src/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    &__text{
        position: relative;
        background-color: rgba($color: #000000, $alpha: 0.451);
        color: #FFFFFF; 
        width: 100%;
        height: 122px;
        line-height: 1.2;
        text-align: center;
    }
    &__caption {
        text-transform: uppercase;
        text-align: center;
        font-size: 34px;     
        font-weight: bold;   
        line-height: 1;    
        margin-top: 35px;              
    }
    &__description {
        font-size: 18px;
        text-align: center;  
        font-weight: normal; 
        letter-spacing: 0.083em;
    }
    &__arrow {
        width: 31px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -16px;
        opacity: 0.5;
    }
    &__arrow:hover {
        opacity: 1;
    }
    &__arrow-left {
        width: 31px;    
        height: auto;
        left: 31px;
    }
    &__arrow-right {
        width: 31px;
        height: auto;
        right: 31px;
    }
    @media screen and (max-width: 650px) {
        display: none;
    }
        
} 
.info-block1 {
    width: 100%;
    height: 382px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
    display: flex;
    justify-content: space-between;
    color: #d1d1d1;
            
    &__article1 {
        margin-top: 5.6%;;
        width: 48.8%;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }
    &__caption {
        font-size: 30px;
        color: rgb(241, 196, 15);
        font-weight: bold;
        width: 77.6%;
        line-height: 1.2;      
    }
    &__description {
        font-size: 24px;
        letter-spacing: normal;
        font-weight: lighter;
        color: #9d9d9d;
        line-height: 1.2;
        width: 77.6%;
    }
    &__article2 {
        margin-top: 6%;
        width: 48.8%;
        text-align: left;
        letter-spacing: normal;
        line-height: 1.263;
    }
    &__important-text {
        width: 73.5%;
        font-size: 19px;
        color: rgb(113, 106, 114);
        text-decoration: underline;   
        font-style: italic;
    }
    &__basic-text {
        font-size: 15px;
        width: 73.5%;
        margin-top: 30px;
        line-height: 1.5;
        color: #9d9d9d;
        font-weight: normal;  
    }
    
    &__button {
        @extend %button;
        margin-top: 34px;
        letter-spacing: 0.09em;
        font-size: 18px;
        width: 130px;
        height: 42px; 
    }
    @media screen and (max-width: 1000px) {
        height: 424px;
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        article {
            width: 90%;
            text-align: center;
            flex-direction: column;
        }
    }

}
.info-block2 {
    width: 100%;
    height: 363px;

    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;     
        height: 100%;  
    }
    li{
        width: 30%;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
        
    &__text {
        width: 73.9%;
        height: 94.1%;
    }
    &__caption {
        text-transform: uppercase;
        font-size: 26px;
        color: rgb(113, 106, 114);
        font-weight: bold;
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 25px;
        line-height: 1;
        letter-spacing: normal;
        @media (max-width: 1000px) {
            height: 53px;
        }
    }
    &__description {
        color: rgb(157, 157, 157);
        font-size: 15px;
        width: 97.8%;
        letter-spacing: normal;
        line-height: 1.6;
        hyphens: auto;
        margin-top: 22px;
    }
    &__icon-circle {
        background: #ffffff;
        border-radius: 50%;
        width: 73px;
        height: 73px;
        box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
        display: flex;
        align-content: center;
        justify-content: center;

    }
    &__icon {
        width: 21px;
    }

    &__button {
        @extend %button;    
        margin-top: 27px;
        letter-spacing: 0.1em;
        font-size: 16px;
        height: 32px;    
        width: 70px;
    }
        
    @media screen and (max-width: 650px) {
        height: 900px;
        ul {
            flex-direction: column;
        }
        li {
            width: 90%;
        }
        &__caption {
            height: 27px;
        }
    }

}
.input-block {
    width: 100%;
    height: 258px;    
    background-color: rgb(241, 196, 15);
    box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
    text-align: center;    
    text-transform: uppercase;
    &__caption {
        padding-top: 52px;
        font-size: 30px;
        color: #FFFFFF;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }
    &__description {
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 0.04em;
    }
    
    &__input {
        border: 2px solid rgb(255, 219, 76);
        background-color: rgb(241, 196, 15);
        width: 260px;
        height: 35px;
        padding: 0;   
        border-radius: 5px 0 0 5px;
        color: #FFFFFF;
        
    }
    &__input:active, &__input:focus, &__submit-button:active, &__submit-button:focus{
        outline: none;
    }
    &__submit-button:active {
        color: rgba(82, 84, 77, 0.16);
    }
    &__input::placeholder  {
        color: #FFFFFF;
        font-style: italic;    
        text-transform: lowercase;
        padding-left: 20px;
    }
    &__input-container {
        margin-top: 27px;
        display: inline-flex;
    }
    &__submit-button {
        font-size: 16px;
        letter-spacing: 0.09em;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        background-color: #ffdb4c;
        border: 2px solid #ffdb4c;
        font-weight: bold;
        width: 108px;
        height: 39px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }
    @media screen and (max-width: 400px) {
        &__submit-button, &__input {
            width: 50%;
        }
    }
}
  
.info-block3 {
    height: 555px;
    width: 100%;
    ul { 
        display: flex;
        flex-direction: row;
        width: 70.9%;
        justify-content: space-between;
        margin-left: 2.5%;
        align-items: flex-end;
        height: 120px;
    }
    
    &__tab {
        margin: 0 auto;
        width: 95.1%;
        height: 67.6%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #FFFFFF;
        box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
    
        article {
            width: 44.4%;
            height: 311px;
            z-index: 2;
            img {
                width: 100%;
            }
        }

    }
    
    @media screen and (max-width: 568px) {
        height: 915px;
        
        &__tab {
            flex-direction: column;
            align-content: space-around;
            height: 80%;
        }
        article {
            width: 91.5%;
        }
        &__devider {
            display: none;
        }
    }

    &__tab-nav {
        width: 95.1%;
    }
        
    &__caption {        
        width: 32.5%;
        font-size: 18px;
        color: rgb(241, 196, 15);
        line-height: 60px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: normal;
        height: 60px;
        text-align: center;
        background-color: rgb(242, 242, 242);
        cursor: pointer;
        letter-spacing: 0.04em;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        @media screen and (max-width: 1024px) {
            font-size: 0;
        }
    }
    &__caption__icon {
        position: relative;
        width: 14px;
        right: 5.2%;
        top: 2px;
    }
    &__caption:hover {
        box-shadow: 0px -1px 4px 0px rgba(241, 196, 15, 0.56);
    }
    &__devider {
        content: '';
        height:  311px;;
        border: 1px solid #f2f2f2;

    }
    &__text {
        font-size: 15px;
        color: rgb(157, 157, 157);
        line-height: 1.6;
        text-align: left;
        width: 100%;
        height: 16%;
        letter-spacing: normal;    
        margin-top: 20px; 
    }
    &__caption-active {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px -2px 4px 0px rgba(82, 84, 77, 0.16);
        z-index: 1;
    }
} 

.footer {
    width: 100%;
    &__info-block {
        height: 525px;
        background-color: rgb(51, 51, 51);
        box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
        display: flex;
        justify-content: space-evenly;
        letter-spacing: normal;
    }
    &__caption {
        margin-top: 55px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 24px;    
        text-transform: uppercase;
        padding-bottom: 26px;
        border-bottom: 1px solid #3f3f3f;  
        letter-spacing: 0.04em;
    }
} 
.blog-posts {
    width: 22%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #3f3f3f;
    
    &__post {
        height: 129px;  
        border-bottom: 1px solid #3f3f3f;
        font-size: 12px;    
        line-height: 1.2; 
        color: #9d9d9d;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__post-last-child {
        border: none;
    }
    &__text {
        width: 67.8%;
    }
    &__date {
        color: #f1c40f; 
        line-height: 1.2;
        margin-top: 4px;
    }
    &__author-name {
        font-size: 15px;  
        font-weight: bold;
        margin-top: 2px;
        margin-bottom: 5px;
    }
    &__preview {
        font-size: 15px;    
        letter-spacing: 0.02em;  
    }
    a {
        color: #9d9d9d;
        text-decoration: underline;        
    }
    a:hover, a:active {
        text-decoration: none;
    }
}
.twitter-posts {
    width: 21.5%;
    font-size: 15px;
    &__post {
        background-image: url('../src/images/twitter.svg');
        background-position:  0px 26px;
        background-size: 26px 30px; 
        background-repeat: no-repeat;
        padding: 26px 0 8px 50px;
        line-height: 1.2;
        
        width: 80.3%;
     }
    &__username {
        color: #f1c40f;
        font-weight: bold; 
    }
    &__preview {
        color: #9d9d9d;
        letter-spacing: 0.02em;
    }
    a {
        color: #f1c40f;     
        text-decoration: none; 
    }
    a:hover, a:active {
        text-decoration: underline; 
    }
}


.quick-contact {
    width: 46.3%;    
    font-size: 15px;
    &__map {
        margin-top: 28px;
        box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
    }
    &__address {
        line-height: 1.2;
        color: #9d9d9d;
        margin-top: 22px;
        font-weight: bold;
    }
    &__address-content {
        color: #9d9d9d;
        font-weight: normal;
        letter-spacing: 0.02em;
    }
    &__contact {
        color: #f1c40f;
        margin-top: 22px;
        letter-spacing: 0.7px;
        a {
            color: #f1c40f;
            text-decoration: none;
        }
        a:active , a:hover{
            text-decoration: underline;
        }
    }
    img {
        width: 100%;
    }
}

.copyrights {
    letter-spacing: 0.1px;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 86px;
    background-color: #f1c40f;
    font-weight: bold;
    color: #FFFFFF;

    &__designed-by {
        color: #000000;
        a {
            color: #000000;
        }
    }
    &__images-source {
        color: #FFFFFF;
        a {
            color: #FFFFFF;
        }
    }
    a {
        text-decoration: none;
    }
    a:active , a:hover{
        text-decoration: underline;
    }

}