@import "compass/reset";
@import "fonts";

%button {
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-stack;
    font-weight: bold;
    color: #ffffff;
    background-color: #f1c40f;
    border: #f1c40f;
    cursor: pointer;
    filter: drop-shadow(0.5px 0.866px 2px rgba(82,84,77,0.16));
}
%button, 
%button:active, 
%button:focus {
    outline: none;
}
%button:active {
    color: rgba(82, 84, 77, 0.16);
}
%button:hover {
    box-shadow: 0px 1px 4px 0px rgba(241, 196, 15, 0.56);
}

body {
    background-color: #fafafa;
    width: 1230px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: $font-stack;
    letter-spacing: 0.175em;
}


.header {
    height: 225px;
    &__nav {
        width: 680px;
        margin: 38px auto ;
    }
    ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        text-align: center;
        
    }
    &__nav-first-item { color : #f1c40f;}
    &__nav-first-item:hover { color : #716a72;}

    a {
        text-decoration: none; 
        color: #716a72;
        text-transform: uppercase;
        font-weight: lighter;
    } 
    a:hover {
        color: #f1c40f;
    }
    &__logo {
        padding: 53px 0 22px 0;
        width: 285px;
        margin: 0 auto;
        font-size: 50px;
        font-family: $font-stack;
        color: rgb(113, 106, 114);
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        font-weight: bold;  
        border-bottom: 1px solid #eaeaea;
        letter-spacing: 0.175em;
    }
}

.banner {    
    display: flex;
    flex-direction: column-reverse;
    height: 547px;
    background: url('../src/images/banner.png');
    background-repeat: no-repeat;    
    
    &__text{
        position: relative;
        background-color: rgba($color: #000000, $alpha: 0.451);
        color: #FFFFFF; 
        width: 1230px;
        height: 122px;
        line-height: 1.2;
        text-align: center;
    }
    &__caption {
        text-transform: uppercase;
        text-align: center;
        font-size: 34px;     
        font-weight: bold;   
        line-height: 1;    
        margin-top: 35px;              
    }
    &__description {
        font-size: 18px;
        text-align: center;  
        font-weight: normal; 
        letter-spacing: 0.083em;
    }
    &__arrow {
        width: 31px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -16px;
        opacity: 0.5;
    }
    &__arrow:hover {
        opacity: 1;
    }
    &__arrow-left {
        width: 31px;    
        height: auto;
        left: 31px;
    }
    &__arrow-right {
        width: 31px;
        height: auto;
        right: 31px;
    }
} 
.info-block1 {
    height: 382px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
    display: flex;
    justify-content: space-between;
    color: #d1d1d1;
            
    &__article1 {
        margin-top: 71px;
        width: 600px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }
    &__caption {
        text-align: right;
        font-size: 30px;
        color: rgb(241, 196, 15);
        font-weight: bold;
        width: 466px;
        line-height: 1.2;      
    }
    &__description {
        text-align: right;
        font-size: 24px;
        letter-spacing: normal;
        font-weight: lighter;
        color: #9d9d9d;
        line-height: 1.2;
        width: 428px;
    }
    &__article2 {
        margin-top: 76px;
        width: 600px;
        text-align: left;
        letter-spacing: normal;
        line-height: 1.263;
    }
    &__important-text {
        width: 441px;
        font-size: 19px;
        color: rgb(113, 106, 114);
        text-decoration: underline;   
        font-style: italic;
    }
    &__basic-text {
        font-size: 15px;
        width: 441px;
        margin-top: 30px;
        line-height: 1.5;
        color: #9d9d9d;
        font-weight: normal;  
    }
    
    &__button {
        @extend %button;
        margin-top: 34px;
        letter-spacing: 0.09em;
        font-size: 18px;
        width: 130px;
        height: 42px; 
    }
}
.info-block2 {
    height: 363px;
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;     
        height: 100%;  
    }
    li{
        width: 370px;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
        
    &__text {
        width: 270px;
        height: 200px;
    }
    &__caption {
        text-transform: uppercase;
        font-size: 26px;
        color: rgb(113, 106, 114);
        font-weight: bold;
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 31px;
        line-height: 0.6;
        letter-spacing: normal;
    }
    &__description {
        color: rgb(157, 157, 157);
        font-size: 15px;
        width: 264px;
        letter-spacing: normal;
        line-height: 1.6;
        hyphens: auto;
        margin-top: 22px;
    }
    &__icon-circle {
        background: #ffffff;
        border-radius: 50%;
        width: 73px;
        height: 73px;
        box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
        display: flex;
        align-content: center;
        justify-content: center;

    }
    &__icon {
        width: 21px;
    }


    &__button {
        @extend %button;    
        margin-top: 27px;
        letter-spacing: 0.1em;
        font-size: 16px;
        height: 32px;    
        width: 70px;
    }

}
.input-block {
    height: 258px;    
    background-color: rgb(241, 196, 15);
    box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
    text-align: center;    
    text-transform: uppercase;
    &__caption {
        padding-top: 52px;
        font-size: 30px;
        color: #FFFFFF;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }
    &__description {
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 0.04em;
    }
    
    &__input {
        border: 2px solid rgb(255, 219, 76);
        background-color: rgb(241, 196, 15);
        width: 260px;
        height: 35px;
        padding: 0;   
        border-radius: 5px 0 0 5px;
        color: #FFFFFF;
    }
    &__input:active, &__input:focus, &__submit-button:active, &__submit-button:focus{
        outline: none;
    }
    &__submit-button:active {
        color: rgba(82, 84, 77, 0.16);
    }
    &__input::placeholder  {
        color: #FFFFFF;
        font-style: italic;    
        text-transform: lowercase;
        padding-left: 20px;
    }
    &__input-container {
        margin-top: 27px;
        display: inline-flex;
    }
    &__submit-button {
        font-size: 16px;
        letter-spacing: 0.09em;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        background-color: #ffdb4c;
        border: 2px solid #ffdb4c;
        font-weight: bold;
        width: 108px;
        height: 39px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }
}
  
.info-block3 {
    height: 555px;
 
    ul { 
        display: flex;
        flex-direction: row;
        width: 829px;
        justify-content: space-between;
        margin-left: 31px;
        align-items: flex-end;
        height: 120px;
    }
    
    &__tab {
        margin: 0 auto;
        width: 1170px;
        height: 375px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #FFFFFF;
        box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
    
        article {
            width: 520px;
            height: 311px;
            z-index: 2;
        }

    }
        
    &__caption {
        font-size: 18px;
        color: rgb(241, 196, 15);
        line-height: 60px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: normal;
        width: 270px;
        height: 60px;
        text-align: center;
        background-color: rgb(242, 242, 242);
        cursor: pointer;
        letter-spacing: 0.04em;
    }
    &__caption__icon {
        position: relative;
        width: 14px;
        right: 18px;
        top: 2px;
        
    }
    &__caption:hover {
        box-shadow: 0px -1px 4px 0px rgba(241, 196, 15, 0.56);
    }
    &__devider {
        content: '';
        height:  311px;;
        border: 1px solid #f2f2f2;
    }
    &__text {
        font-size: 15px;
        color: rgb(157, 157, 157);
        line-height: 1.6;
        text-align: left;
        width: 513px;
        height: 86px;
        letter-spacing: normal;    
        margin-top: 20px; 
    }
    &__caption-active {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px -2px 4px 0px rgba(82, 84, 77, 0.16);
        z-index: 1;
    }

} 
.footer {
    &__info-block {
        height: 525px;
        background-color: rgb(51, 51, 51);
        box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
        display: flex;
        justify-content: space-evenly;
        letter-spacing: normal;
    }
    &__caption {
        margin-top: 55px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 24px;    
        text-transform: uppercase;
        padding-bottom: 26px;
        border-bottom: 1px solid #3f3f3f;  
        letter-spacing: 0.04em;
    }
} 
.blog-posts {
    width: 270px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #3f3f3f;
    
    &__post {
        height: 129px;  
        border-bottom: 1px solid #3f3f3f;
        font-size: 12px;    
        line-height: 1.2; 
        color: #9d9d9d;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__post-last-child {
        border: none;
    }
    &__text {
        width: 175px;
    }
    &__date {
        color: #f1c40f; 
        line-height: 1.2;
        margin-top: 4px;
    }
    &__author-name {
        font-size: 15px;  
        font-weight: bold;
        margin-top: 2px;
        margin-bottom: 5px;
    }
    &__preview {
        font-size: 15px;    
        letter-spacing: 0.02em;  
    }
    a {
        color: #9d9d9d;
        text-decoration: underline;        
    }
    a:hover, a:active {
        text-decoration: none;
    }
}
.twitter-posts {
    width: 265px;
    font-size: 15px;
    &__post {
        background-image: url('../src/images/twitter.svg');
        background-position:  0px 26px;
        background-size: 26px 30px; 
        background-repeat: no-repeat;
        padding: 26px 0 8px 50px;
        line-height: 1.2;
     }
    &__username {
        color: #f1c40f;
        font-weight: bold; 
    }
    &__preview {
        width: 213px;
        color: #9d9d9d;
        letter-spacing: 0.02em;
    }
}


.quick-contact {
    width: 570px;    
    font-size: 15px;
    &__map {
        margin-top: 28px;
        box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
    }
    &__address {
        line-height: 1.2;
        color: #9d9d9d;
        margin-top: 22px;
        font-weight: bold;
    }
    &__address-content {
        color: #9d9d9d;
        font-weight: normal;
        letter-spacing: 0.02em;
    }
    &__contact {
        color: #f1c40f;
        margin-top: 22px;
        letter-spacing: 0.7px;
        a {
            color: #f1c40f;
            text-decoration: none;
        }
        a:active , a:hover{
            text-decoration: underline;
        }
    }
}

.copyrights {
    letter-spacing: 0.1px;
    line-height: 81px;
    height: 86px;
    text-align: center;
    background-color: #f1c40f;
    font-weight: bold;
    color: #FFFFFF;
    .bg {
        background-color: rgb(241, 196, 15);
        position: absolute;
        left: 345px;
        top: 2957px;
        width: 1230px;
        height: 85px;
        z-index: 132;
      }
      
    &__designed-by {
        color: #000000;
        
    }
}