/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("../src/fonts/SourceSansPro-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url("../src/fonts/SourceSansPro-Black.ttf");
  font-weight: bold;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url("../src/fonts/SourceSansPro-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url("../src/fonts/SourceSansPro-Light.ttf");
  font-weight: lighter;
}
/* line 29, ../sass/screen.scss */
body {
  background-color: #fafafa;
  width: 1230px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "SourceSansPro", sans-serif;
  letter-spacing: 0.175em;
}

/* line 38, ../sass/screen.scss */
.header__logo {
  padding: 53px 0 22px 0;
  width: 285px;
  margin: 0 auto;
  font-size: 50px;
  font-family: "SourceSansPro", sans-serif;
  color: #716a72;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #eaeaea;
  letter-spacing: 0.175em;
}

/* line 52, ../sass/screen.scss */
.header {
  height: 225px;
}
/* line 54, ../sass/screen.scss */
.header .header__nav {
  width: 680px;
  margin: 38px auto;
}
/* line 58, ../sass/screen.scss */
.header ul {
  display: flex;
  justify-content: space-between;
}
/* line 62, ../sass/screen.scss */
.header li {
  text-align: center;
}
/* line 66, ../sass/screen.scss */
.header .header__nav-first-item {
  color: #f1c40f;
}
/* line 67, ../sass/screen.scss */
.header .header__nav-first-item:hover {
  color: #716a72;
}
/* line 69, ../sass/screen.scss */
.header a {
  text-decoration: none;
  color: #716a72;
  text-transform: uppercase;
  font-weight: lighter;
}
/* line 75, ../sass/screen.scss */
.header a:hover {
  color: #f1c40f;
}

/* line 80, ../sass/screen.scss */
.banner {
  display: flex;
  flex-direction: column-reverse;
  height: 547px;
  background: url("../src/images/banner.png");
  background-repeat: no-repeat;
}

/* line 88, ../sass/screen.scss */
.banner__text {
  position: relative;
  background-color: rgba(0, 0, 0, 0.451);
  color: #FFFFFF;
  width: 1230px;
  height: 122px;
  line-height: 1.2;
  text-align: center;
}

/* line 97, ../sass/screen.scss */
.banner__caption {
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  margin-top: 35px;
}

/* line 105, ../sass/screen.scss */
.banner__description {
  font-size: 18px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.083em;
}

/* line 111, ../sass/screen.scss */
.banner__arrow {
  width: 31px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  opacity: 0.5;
}

/* line 119, ../sass/screen.scss */
.banner__arrow:hover {
  opacity: 1;
}

/* line 122, ../sass/screen.scss */
.banner__arrow-left {
  width: 31px;
  height: auto;
  left: 31px;
}

/* line 127, ../sass/screen.scss */
.banner__arrow-right {
  width: 31px;
  height: auto;
  right: 31px;
}

/* line 132, ../sass/screen.scss */
.info-block1 {
  height: 382px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
  display: flex;
  justify-content: space-between;
  color: #d1d1d1;
}

/* line 140, ../sass/screen.scss */
.info-block1__article1 {
  margin-top: 71px;
  width: 600px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* line 149, ../sass/screen.scss */
.info-block1__caption {
  text-align: right;
  font-size: 30px;
  color: #f1c40f;
  font-weight: bold;
  width: 466px;
  line-height: 1.2;
}

/* line 157, ../sass/screen.scss */
.info-block1__description {
  text-align: right;
  font-size: 24px;
  letter-spacing: normal;
  font-weight: lighter;
  color: #9d9d9d;
  line-height: 1.2;
  width: 428px;
}

/* line 166, ../sass/screen.scss */
.info-block1__article2 {
  margin-top: 76px;
  width: 600px;
  text-align: left;
  letter-spacing: normal;
  line-height: 1.263;
}

/* line 173, ../sass/screen.scss */
.info-block1__important-text {
  width: 441px;
  font-size: 19px;
  color: #716a72;
  text-decoration: underline;
  font-style: italic;
}

/* line 181, ../sass/screen.scss */
.info-block1__basic-text {
  font-size: 15px;
  width: 441px;
  margin-top: 30px;
  line-height: 1.5;
  color: #9d9d9d;
  font-weight: normal;
}

/* line 189, ../sass/screen.scss */
.info-block2 {
  height: 363px;
}
/* line 191, ../sass/screen.scss */
.info-block2 ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
/* line 197, ../sass/screen.scss */
.info-block2 li {
  width: 370px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

/* line 204, ../sass/screen.scss */
.info-block2__text {
  width: 270px;
  height: 200px;
}

/* line 208, ../sass/screen.scss */
.info-block2__caption {
  text-transform: uppercase;
  font-size: 26px;
  color: #716a72;
  font-weight: bold;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 31px;
  line-height: 0.6;
  letter-spacing: normal;
}

/* line 218, ../sass/screen.scss */
.info-block2__description {
  color: #9d9d9d;
  font-size: 15px;
  width: 264px;
  letter-spacing: normal;
  line-height: 1.6;
  hyphens: auto;
  margin-top: 22px;
}

/* line 227, ../sass/screen.scss */
.info-block2__icon-circle {
  background: #ffffff;
  border-radius: 50%;
  width: 73px;
  height: 73px;
  box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
  display: flex;
  align-content: center;
  justify-content: center;
}

/* line 238, ../sass/screen.scss */
.info-block2__icon {
  width: 21px;
}

/* line 242, ../sass/screen.scss */
.info-block2__button, .info-block1__button {
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  font-family: "SourceSansPro", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #f1c40f;
  border: #f1c40f;
  cursor: pointer;
  filter: drop-shadow(0.5px 0.866px 2px rgba(82, 84, 77, 0.16));
}

/* line 254, ../sass/screen.scss */
.info-block2__button:hover, .info-block1__button:hover {
  box-shadow: 0px 1px 4px 0px rgba(241, 196, 15, 0.56);
}

/* line 258, ../sass/screen.scss */
.info-block2__button {
  margin-top: 27px;
  letter-spacing: 0.1em;
  font-size: 16px;
  height: 32px;
  width: 70px;
}

/* line 266, ../sass/screen.scss */
.info-block1__button {
  margin-top: 34px;
  letter-spacing: 0.09em;
  font-size: 18px;
  width: 130px;
  height: 42px;
}

/* line 275, ../sass/screen.scss */
.input-block {
  height: 258px;
  background-color: #f1c40f;
  box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
  text-align: center;
  text-transform: uppercase;
}

/* line 283, ../sass/screen.scss */
.input-block__caption {
  padding-top: 52px;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

/* line 291, ../sass/screen.scss */
.input-block__description {
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0.04em;
}

/* line 297, ../sass/screen.scss */
.input-block__input {
  border: 2px solid #ffdb4c;
  background-color: #f1c40f;
  width: 260px;
  height: 35px;
  padding: 0;
  border-radius: 5px 0 0 5px;
  color: #FFFFFF;
}

/* line 307, ../sass/screen.scss */
.input-block__input::placeholder {
  color: #FFFFFF;
  font-style: italic;
  text-transform: lowercase;
  padding-left: 20px;
}

/* line 313, ../sass/screen.scss */
.input-block__input-container {
  margin-top: 27px;
  display: inline-flex;
}

/* line 317, ../sass/screen.scss */
.input-block__submit-button {
  font-size: 16px;
  letter-spacing: 0.09em;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffdb4c;
  border: 2px solid #ffdb4c;
  font-weight: bold;
  width: 108px;
  height: 39px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* line 332, ../sass/screen.scss */
.info-block3 {
  height: 555px;
}
/* line 335, ../sass/screen.scss */
.info-block3 ul {
  display: flex;
  flex-direction: row;
  width: 829px;
  justify-content: space-between;
  margin-left: 31px;
  align-items: flex-end;
  height: 120px;
}

/* line 346, ../sass/screen.scss */
.info-block3__tab {
  margin: 0 auto;
  width: 1170px;
  height: 375px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
}
/* line 356, ../sass/screen.scss */
.info-block3__tab article {
  width: 520px;
  height: 311px;
  z-index: 2;
}

/* line 362, ../sass/screen.scss */
.info-block3__caption {
  font-size: 18px;
  color: #f1c40f;
  text-align: left;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: normal;
  width: 270px;
  height: 60px;
  text-align: center;
  background-color: #f2f2f2;
  cursor: pointer;
}

/* line 376, ../sass/screen.scss */
.info-block3__caption__icon {
  width: 14px;
  margin-right: 14px;
  margin-top: 2px;
  margin-left: -15px;
}

/* line 382, ../sass/screen.scss */
.info-block3__caption:hover {
  box-shadow: 0px -1px 4px 0px rgba(241, 196, 15, 0.56);
}

/* line 385, ../sass/screen.scss */
.info-block3__devider {
  content: '';
  height: 311px;
  border: 1px solid #f2f2f2;
}

/* line 390, ../sass/screen.scss */
.info-block3__text {
  font-size: 15px;
  color: #9d9d9d;
  line-height: 1.6;
  text-align: left;
  width: 513px;
  height: 86px;
  letter-spacing: normal;
  margin-top: 20px;
}

/* line 400, ../sass/screen.scss */
.info-block3__caption-active {
  background-color: white;
  box-shadow: 0px -2px 4px 0px rgba(82, 84, 77, 0.16);
  z-index: 1;
}

/* line 406, ../sass/screen.scss */
.footer__info-block {
  height: 525px;
  background-color: #333333;
  box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
  display: flex;
  justify-content: space-evenly;
  letter-spacing: normal;
}

/* line 414, ../sass/screen.scss */
.footer__caption {
  margin-top: 55px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 26px;
  border-bottom: 1px solid #3f3f3f;
  letter-spacing: 0.04em;
}

/* line 424, ../sass/screen.scss */
.blog-posts {
  width: 270px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #3f3f3f;
}

/* line 431, ../sass/screen.scss */
.blog-posts__post {
  height: 129px;
  border-bottom: 1px solid #3f3f3f;
  font-size: 12px;
  line-height: 1.2;
  color: #9d9d9d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* line 442, ../sass/screen.scss */
.blog-posts__post-last-child {
  border: none;
}

/* line 445, ../sass/screen.scss */
.blog-posts__text {
  width: 175px;
}

/* line 448, ../sass/screen.scss */
.blog-posts__date {
  color: #f1c40f;
  line-height: 1.2;
  margin-top: 4px;
}

/* line 453, ../sass/screen.scss */
.blog-posts__author-name {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 2px;
  margin-bottom: 5px;
}

/* line 462, ../sass/screen.scss */
.blog-posts__preview {
  font-size: 15px;
  letter-spacing: 0.02em;
}

/* line 466, ../sass/screen.scss */
.twitter-posts {
  width: 265px;
  font-size: 15px;
}

/* line 470, ../sass/screen.scss */
.twitter-posts__post {
  background-image: url("../src/images/twitter.svg");
  background-position: 0px 26px;
  background-size: 26px 30px;
  background-repeat: no-repeat;
  padding: 26px 0 8px 50px;
  line-height: 1.2;
}

/* line 478, ../sass/screen.scss */
.twitter-posts__username {
  color: #f1c40f;
  font-weight: bold;
}

/* line 482, ../sass/screen.scss */
.twitter-posts__preview {
  width: 213px;
  color: #9d9d9d;
  letter-spacing: 0.02em;
}

/* line 488, ../sass/screen.scss */
.quick-contact {
  width: 570px;
  font-size: 15px;
}

/* line 492, ../sass/screen.scss */
.quick-contact__map {
  margin-top: 28px;
  box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
}

/* line 496, ../sass/screen.scss */
.quick-contact__address {
  line-height: 1.2;
  color: #9d9d9d;
  margin-top: 22px;
  font-weight: bold;
}

/* line 502, ../sass/screen.scss */
.quick-contact__address-content {
  color: #9d9d9d;
  font-weight: normal;
  letter-spacing: 0.02em;
}

/* line 507, ../sass/screen.scss */
.quick-contact__contact {
  margin-top: 22px;
  color: #f1c40f;
  letter-spacing: 0.7px;
}

/* line 512, ../sass/screen.scss */
.copyrights {
  letter-spacing: 0.1px;
  line-height: 81px;
  height: 86px;
  text-align: center;
  background-color: #f1c40f;
  font-weight: bold;
  color: #FFFFFF;
}

/* line 521, ../sass/screen.scss */
.copyrights__designed-by {
  color: #000000;
}
