/* line 5, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Program files/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("../src/fonts/SourceSansPro-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url("../src/fonts/SourceSansPro-Black.ttf");
  font-weight: bold;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url("../src/fonts/SourceSansPro-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url("../src/fonts/SourceSansPro-Light.ttf");
  font-weight: lighter;
}
/* line 5, ../sass/screen.scss */
.info-block1__button, .info-block2__button {
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  font-family: "SourceSansPro", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #f1c40f;
  border: #f1c40f;
  cursor: pointer;
  filter: drop-shadow(0.5px 0.866px 2px rgba(82, 84, 77, 0.16));
}

/* line 17, ../sass/screen.scss */
.info-block1__button, .info-block2__button,
.info-block1__button:active,
.info-block2__button:active,
.info-block1__button:focus,
.info-block2__button:focus {
  outline: none;
}

/* line 22, ../sass/screen.scss */
.info-block1__button:active, .info-block2__button:active {
  color: rgba(82, 84, 77, 0.16);
}

/* line 25, ../sass/screen.scss */
.info-block1__button:hover, .info-block2__button:hover {
  box-shadow: 0px 1px 4px 0px rgba(241, 196, 15, 0.56);
}

/* line 29, ../sass/screen.scss */
html {
  scroll-behavior: smooth;
}

/* line 33, ../sass/screen.scss */
body {
  background-color: #fafafa;
  max-width: 1230px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "SourceSansPro", sans-serif;
  letter-spacing: 0.175em;
}
@media screen and (max-width: 768px) {
  /* line 33, ../sass/screen.scss */
  body {
    overflow-x: hidden;
  }
}

/* line 46, ../sass/screen.scss */
.header {
  height: 225px;
  width: 100%;
}
/* line 49, ../sass/screen.scss */
.header ul {
  display: flex;
  justify-content: space-between;
}
/* line 53, ../sass/screen.scss */
.header li {
  text-align: center;
}
/* line 56, ../sass/screen.scss */
.header a {
  text-decoration: none;
  color: #716a72;
  text-transform: uppercase;
  font-weight: lighter;
}
/* line 62, ../sass/screen.scss */
.header a:hover {
  color: #f1c40f;
}
/* line 66, ../sass/screen.scss */
.header__logo {
  padding: 53px 0 22px 0;
  width: 285px;
  margin: 0 auto;
  font-size: 50px;
  font-family: "SourceSansPro", sans-serif;
  color: #716a72;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #eaeaea;
  letter-spacing: 0.175em;
}
/* line 80, ../sass/screen.scss */
.header__nav {
  width: 55.3%;
  margin: 38px auto;
}
@media screen and (max-width: 768px) {
  /* line 80, ../sass/screen.scss */
  .header__nav {
    width: 90%;
  }
}
@media screen and (max-width: 512px) {
  /* line 80, ../sass/screen.scss */
  .header__nav {
    width: 100%;
    margin: 0;
  }
  /* line 89, ../sass/screen.scss */
  .header__nav ul {
    flex-direction: column;
    padding: 10px 0;
  }
  /* line 93, ../sass/screen.scss */
  .header__nav li {
    display: block;
    padding: 5px 0;
  }
  /* line 96, ../sass/screen.scss */
  .header__nav li a {
    border-bottom: 1px solid #eaeaea;
  }
  /* line 99, ../sass/screen.scss */
  .header__nav li a.header__nav-last-item {
    border: none;
  }
}
@media screen and (max-width: 512px) {
  /* line 46, ../sass/screen.scss */
  .header {
    height: 276px;
  }
}

/* line 111, ../sass/screen.scss */
a.header__nav-first-item {
  color: #f1c40f;
}

/* line 114, ../sass/screen.scss */
a.header__nav-first-item:hover {
  color: #716a72;
}

/* line 119, ../sass/screen.scss */
.banner {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  height: 547px;
  background: url("../src/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 129, ../sass/screen.scss */
.banner__text {
  position: relative;
  background-color: rgba(0, 0, 0, 0.451);
  color: #ffffff;
  width: 100%;
  height: 122px;
  line-height: 1.2;
  text-align: center;
}
/* line 138, ../sass/screen.scss */
.banner__caption {
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  margin-top: 35px;
}
/* line 146, ../sass/screen.scss */
.banner__description {
  font-size: 18px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.083em;
}
/* line 152, ../sass/screen.scss */
.banner__arrow {
  width: 31px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  opacity: 0.5;
}
/* line 160, ../sass/screen.scss */
.banner__arrow:hover {
  opacity: 1;
}
/* line 163, ../sass/screen.scss */
.banner__arrow-left {
  width: 31px;
  height: auto;
  left: 31px;
}
/* line 168, ../sass/screen.scss */
.banner__arrow-right {
  width: 31px;
  height: auto;
  right: 31px;
}
@media screen and (max-width: 650px) {
  /* line 119, ../sass/screen.scss */
  .banner {
    display: none;
  }
}

/* line 178, ../sass/screen.scss */
.info-block1 {
  width: 100%;
  height: 382px;
  box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
  display: flex;
  justify-content: space-between;
}
/* line 185, ../sass/screen.scss */
.info-block1__article1 {
  margin-top: 5.6%;
  width: 48.8%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
/* line 194, ../sass/screen.scss */
.info-block1__caption {
  font-size: 30px;
  color: #f1c40f;
  font-weight: bold;
  width: 77.6%;
  line-height: 1.2;
}
/* line 201, ../sass/screen.scss */
.info-block1__description {
  font-size: 24px;
  letter-spacing: normal;
  font-weight: lighter;
  color: #9d9d9d;
  line-height: 1.2;
  width: 77.6%;
}
/* line 209, ../sass/screen.scss */
.info-block1__article2 {
  margin-top: 6%;
  width: 48.8%;
  text-align: left;
  letter-spacing: normal;
  line-height: 1.263;
}
/* line 216, ../sass/screen.scss */
.info-block1__important-text {
  width: 73.5%;
  font-size: 19px;
  color: #716a72;
  text-decoration: underline;
  font-style: italic;
}
/* line 223, ../sass/screen.scss */
.info-block1__basic-text {
  font-size: 15px;
  width: 73.5%;
  margin-top: 30px;
  line-height: 1.5;
  color: #9d9d9d;
  font-weight: normal;
}
/* line 232, ../sass/screen.scss */
.info-block1__button {
  margin-top: 34px;
  letter-spacing: 0.09em;
  font-size: 18px;
  width: 130px;
  height: 42px;
}
@media screen and (max-width: 768px) {
  /* line 178, ../sass/screen.scss */
  .info-block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    height: auto;
  }
  /* line 248, ../sass/screen.scss */
  .info-block1 article {
    margin-top: 10px;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  /* line 255, ../sass/screen.scss */
  .info-block1__article2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 15px;
  }
}

/* line 265, ../sass/screen.scss */
.info-block2 {
  width: 100%;
  height: 363px;
}
/* line 269, ../sass/screen.scss */
.info-block2 ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
/* line 275, ../sass/screen.scss */
.info-block2 li {
  width: 30%;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  /* line 275, ../sass/screen.scss */
  .info-block2 li {
    width: 32%;
  }
}
/* line 285, ../sass/screen.scss */
.info-block2__text {
  width: 73.9%;
  height: 94.1%;
}
/* line 289, ../sass/screen.scss */
.info-block2__caption {
  text-transform: uppercase;
  font-size: 26px;
  color: #716a72;
  font-weight: bold;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 25px;
  line-height: 1;
  letter-spacing: normal;
}
@media (max-width: 1024px) {
  /* line 289, ../sass/screen.scss */
  .info-block2__caption {
    height: 53px;
  }
}
/* line 302, ../sass/screen.scss */
.info-block2__description {
  color: #9d9d9d;
  font-size: 15px;
  width: 97.8%;
  letter-spacing: normal;
  line-height: 1.6;
  hyphens: auto;
  margin-top: 22px;
}
/* line 311, ../sass/screen.scss */
.info-block2__icon-circle {
  background: #ffffff;
  border-radius: 50%;
  width: 73px;
  height: 73px;
  box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
  display: flex;
  align-content: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) and (min-width: 650px) {
  /* line 311, ../sass/screen.scss */
  .info-block2__icon-circle {
    background: none;
    box-shadow: none;
  }
}
/* line 325, ../sass/screen.scss */
.info-block2__icon {
  width: 29%;
}
/* line 329, ../sass/screen.scss */
.info-block2__button {
  margin-top: 27px;
  letter-spacing: 0.1em;
  font-size: 16px;
  height: 32px;
  width: 70px;
}
@media screen and (max-width: 650px) {
  /* line 265, ../sass/screen.scss */
  .info-block2 {
    height: 900px;
  }
  /* line 340, ../sass/screen.scss */
  .info-block2 ul {
    flex-direction: column;
  }
  /* line 343, ../sass/screen.scss */
  .info-block2 li {
    width: 90%;
  }
  /* line 346, ../sass/screen.scss */
  .info-block2__caption {
    height: 27px;
  }
}

/* line 352, ../sass/screen.scss */
.input-block {
  width: 100%;
  height: 258px;
  background-color: #f1c40f;
  box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
/* line 360, ../sass/screen.scss */
.input-block__caption {
  padding-top: 52px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.04em;
}
/* line 368, ../sass/screen.scss */
.input-block__description {
  font-size: 24px;
  letter-spacing: 0.04em;
}
/* line 374, ../sass/screen.scss */
.input-block__input {
  border: 2px solid #ffdb4c;
  background-color: #f1c40f;
  width: 260px;
  height: 35px;
  padding: 0;
  border-radius: 5px 0 0 5px;
}
/* line 384, ../sass/screen.scss */
.input-block__input:active, .input-block__input:focus, .input-block__submit-button:active, .input-block__submit-button:focus {
  outline: none;
}
/* line 387, ../sass/screen.scss */
.input-block__submit-button:active {
  color: rgba(82, 84, 77, 0.16);
}
/* line 390, ../sass/screen.scss */
.input-block__input::placeholder {
  color: #ffffff;
  font-style: italic;
  text-transform: lowercase;
  padding-left: 20px;
}
/* line 396, ../sass/screen.scss */
.input-block__input-container {
  margin-top: 27px;
  display: inline-flex;
}
/* line 400, ../sass/screen.scss */
.input-block__submit-button {
  font-size: 16px;
  letter-spacing: 0.09em;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffdb4c;
  border: 2px solid #ffdb4c;
  font-weight: bold;
  width: 108px;
  height: 39px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
@media screen and (max-width: 414px) {
  /* line 352, ../sass/screen.scss */
  .input-block {
    height: 308px;
  }
  /* line 416, ../sass/screen.scss */
  .input-block__submit-button, .input-block__input {
    width: 50%;
  }
}

/* line 422, ../sass/screen.scss */
.info-block3 {
  height: 555px;
  width: 100%;
}
/* line 425, ../sass/screen.scss */
.info-block3 ul {
  display: flex;
  flex-direction: row;
  width: 70.9%;
  justify-content: space-between;
  margin-left: 2.5%;
  align-items: flex-end;
  height: 120px;
}
/* line 435, ../sass/screen.scss */
.info-block3__tab {
  margin: 0 auto;
  width: 95.1%;
  height: 67.6%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
}
/* line 445, ../sass/screen.scss */
.info-block3__tab article {
  width: 44.4%;
  height: 311px;
  z-index: 2;
}
/* line 449, ../sass/screen.scss */
.info-block3__tab article img {
  width: 100%;
}
@media screen and (max-width: 568px) {
  /* line 422, ../sass/screen.scss */
  .info-block3 {
    height: 915px;
  }
  /* line 459, ../sass/screen.scss */
  .info-block3__tab {
    flex-direction: column;
    align-content: space-around;
    height: 80%;
  }
  /* line 464, ../sass/screen.scss */
  .info-block3 article {
    width: 91.5%;
  }
  /* line 467, ../sass/screen.scss */
  .info-block3__devider {
    display: none;
  }
}
/* line 472, ../sass/screen.scss */
.info-block3__tab-nav {
  width: 95.1%;
}
/* line 476, ../sass/screen.scss */
.info-block3__caption {
  width: 32.5%;
  font-size: 18px;
  color: #f1c40f;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: normal;
  height: 60px;
  text-align: center;
  background-color: #f2f2f2;
  cursor: pointer;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  /* line 476, ../sass/screen.scss */
  .info-block3__caption {
    font-size: 0;
  }
}
/* line 497, ../sass/screen.scss */
.info-block3__caption__icon {
  position: relative;
  width: 14px;
  right: 5.2%;
  top: 2px;
}
/* line 503, ../sass/screen.scss */
.info-block3__caption:hover {
  box-shadow: 0px -1px 4px 0px rgba(241, 196, 15, 0.56);
}
/* line 506, ../sass/screen.scss */
.info-block3__devider {
  content: '';
  height: 311px;
  border: 1px solid #f2f2f2;
}
/* line 512, ../sass/screen.scss */
.info-block3__text {
  font-size: 15px;
  color: #9d9d9d;
  line-height: 1.6;
  text-align: left;
  width: 100%;
  height: 16%;
  letter-spacing: normal;
  margin-top: 20px;
}
/* line 522, ../sass/screen.scss */
.info-block3__caption-active {
  background-color: #ffffff;
  box-shadow: 0px -2px 4px 0px rgba(82, 84, 77, 0.16);
  z-index: 1;
}

/* line 529, ../sass/screen.scss */
.footer {
  width: 100%;
}
/* line 531, ../sass/screen.scss */
.footer__info-block {
  height: 525px;
  background-color: #333333;
  box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
  display: flex;
  justify-content: space-evenly;
  letter-spacing: normal;
}
@media screen and (max-width: 1024px) {
  /* line 531, ../sass/screen.scss */
  .footer__info-block {
    flex-wrap: wrap;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  /* line 531, ../sass/screen.scss */
  .footer__info-block {
    padding: 0 10px 30px 20px;
    flex-wrap: wrap;
    height: auto;
  }
  /* line 547, ../sass/screen.scss */
  .footer__info-block .blog-posts, .footer__info-block .twitter-posts, .footer__info-block .quick-contact {
    width: 95%;
  }
}
/* line 553, ../sass/screen.scss */
.footer__caption {
  margin-top: 55px;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 26px;
  border-bottom: 1px solid #3f3f3f;
  letter-spacing: 0.04em;
}

/* line 565, ../sass/screen.scss */
.blog-posts {
  width: 22%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #3f3f3f;
}
/* line 571, ../sass/screen.scss */
.blog-posts__post {
  height: 129px;
  border-bottom: 1px solid #3f3f3f;
  font-size: 12px;
  line-height: 1.2;
  color: #9d9d9d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* line 582, ../sass/screen.scss */
.blog-posts__post-last-child {
  border: none;
}
/* line 585, ../sass/screen.scss */
.blog-posts__text {
  width: 67.8%;
}
/* line 588, ../sass/screen.scss */
.blog-posts__date {
  color: #f1c40f;
  line-height: 1.2;
  margin-top: 4px;
}
/* line 593, ../sass/screen.scss */
.blog-posts__author-name {
  font-size: 15px;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 5px;
}
/* line 599, ../sass/screen.scss */
.blog-posts__preview {
  font-size: 15px;
  letter-spacing: 0.02em;
}
/* line 603, ../sass/screen.scss */
.blog-posts a {
  color: #9d9d9d;
  text-decoration: underline;
}
/* line 607, ../sass/screen.scss */
.blog-posts a:hover, .blog-posts a:active {
  text-decoration: none;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  /* line 565, ../sass/screen.scss */
  .blog-posts {
    width: 90%;
  }
  /* line 613, ../sass/screen.scss */
  .blog-posts ul {
    display: flex;
    flex-direction: row;
    justify-self: start;
  }
  /* line 618, ../sass/screen.scss */
  .blog-posts__post {
    border-bottom: none;
  }
  /* line 621, ../sass/screen.scss */
  .blog-posts__text {
    width: 60%;
  }
}

/* line 626, ../sass/screen.scss */
.twitter-posts {
  width: 21.5%;
  font-size: 15px;
}
/* line 629, ../sass/screen.scss */
.twitter-posts__post {
  background-image: url("../src/images/twitter.svg");
  background-position: 0px 26px;
  background-size: 26px 30px;
  background-repeat: no-repeat;
  padding: 26px 0 8px 50px;
  line-height: 1.2;
  width: 80.3%;
}
/* line 639, ../sass/screen.scss */
.twitter-posts__username {
  color: #f1c40f;
  font-weight: bold;
}
/* line 643, ../sass/screen.scss */
.twitter-posts__preview {
  color: #9d9d9d;
  letter-spacing: 0.02em;
}
/* line 647, ../sass/screen.scss */
.twitter-posts a {
  color: #f1c40f;
  text-decoration: none;
}
/* line 651, ../sass/screen.scss */
.twitter-posts a:hover, .twitter-posts a:active {
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
  /* line 626, ../sass/screen.scss */
  .twitter-posts {
    width: 40%;
    order: -1;
  }
}
@media screen and (width: 768px) {
  /* line 626, ../sass/screen.scss */
  .twitter-posts {
    order: 0;
  }
  /* line 660, ../sass/screen.scss */
  .twitter-posts ul {
    display: flex;
    flex-direction: row;
  }
}

/* line 669, ../sass/screen.scss */
.quick-contact {
  width: 46.3%;
  font-size: 15px;
}
/* line 672, ../sass/screen.scss */
.quick-contact__map {
  margin-top: 28px;
  box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
}
/* line 676, ../sass/screen.scss */
.quick-contact__address {
  line-height: 1.2;
  color: #9d9d9d;
  margin-top: 22px;
  font-weight: bold;
}
/* line 682, ../sass/screen.scss */
.quick-contact__address-content {
  color: #9d9d9d;
  font-weight: normal;
  letter-spacing: 0.02em;
}
/* line 687, ../sass/screen.scss */
.quick-contact__contact {
  color: #f1c40f;
  margin-top: 22px;
  letter-spacing: 0.7px;
}
/* line 691, ../sass/screen.scss */
.quick-contact__contact a {
  color: #f1c40f;
  text-decoration: none;
}
/* line 695, ../sass/screen.scss */
.quick-contact__contact a:active, .quick-contact__contact a:hover {
  text-decoration: underline;
}
/* line 699, ../sass/screen.scss */
.quick-contact img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  /* line 669, ../sass/screen.scss */
  .quick-contact {
    width: 50%;
    order: -1;
  }
}

/* line 709, ../sass/screen.scss */
.copyrights {
  letter-spacing: 0.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
  background-color: #f1c40f;
  font-weight: bold;
  color: #ffffff;
}
/* line 718, ../sass/screen.scss */
.copyrights__designed-by {
  color: #000000;
}
/* line 720, ../sass/screen.scss */
.copyrights__designed-by a {
  color: #000000;
}
/* line 724, ../sass/screen.scss */
.copyrights__images-source {
  color: #ffffff;
}
/* line 726, ../sass/screen.scss */
.copyrights__images-source a {
  color: #ffffff;
}
/* line 730, ../sass/screen.scss */
.copyrights a {
  text-decoration: none;
}
/* line 733, ../sass/screen.scss */
.copyrights a:active, .copyrights a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
  /* line 709, ../sass/screen.scss */
  .copyrights {
    min-height: 86px;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  /* line 743, ../sass/screen.scss */
  .copyrights span {
    display: block;
  }
  /* line 746, ../sass/screen.scss */
  .copyrights span.copyrights__slash {
    display: none;
  }
}
